* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rouge: #FF5B5B;
  --jaune: #F0FFC3;
  --bleu: #9CCFFF;
  --violet: #685AFF;
  --blanc: #FFFFFF;
  --texte: #2D2D2D;
  --gris: #F8F8F8;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--blanc);
  color: var(--texte);
}